canvas {
  background-image: url('https://wallpapercave.com/wp/XepFWP9.jpg');
  background-color: #aaa;
  position: absolute;
}
body {
  border-color: #aaa;
  margin: 0;
}
.chatstroke {
  position: absolute;
  z-index: 100;

  color: #aaa;
}
input {
  background-color: rgba(0, 0, 0, 0);
  color: #aaa;
  width: 70%;
}
